<!DOCTYPE HTML>
{% load static %}
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Enroll project</title>
	<link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'enroll/css/style.css' %}" />
</head>
<body>
 <div class="container mt-5">
   <h2 class="text-center alert alert-danger"> Function Based View ModelForm CRUD Project</h2>
   {% block content %}
    {% include 'enrollhtml/adddata.html' %}
   {% endblock content %}
 
 </div>
	<script type="text/javascript" src="{% static 'enroll/js/jquary.js' %}"></script>
	<script type="text/javascript" src="{% static 'enroll/js/proper.js' %}"></script>
	<script type="text/javascript" src="{% static 'enroll/js/bootstrap.min.js' %}"></script>
</body>
</html>
